# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter & IPython
.ipynb_checkpoints
.ipynb_checkpoints/
profile_default/
ipython_config.py

# pyenv
# .python-version

# Dependency managers
#Pipfile.lock
#uv.lock
#poetry.lock
#pdm.lock
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor Tools
.spyderproject
.spyproject
.ropeproject
.idea/

# Documentation
/site

# Type Checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Cython
cython_debug/

# Linter
.ruff_cache/

# PyPI
.pypirc

# Cursor AI Editor
.cursorignore
.cursorindexingignore
hiddenlayer/

# ML / Model Files
# *.pth          # 取消注释以忽略模型文件，取消忽略以提交模型文件
*.caffemodel
*.prototxt

# Media / Data
videos/